@using libraryhue.Models.Products
@model ASPHue.Pages.Products.ProductsListModel
@{
    <table class="table">
        <thead class="border-dark">
            <tr>
                <th>Id</th>
                <th>Nro. Interno</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Válvulas</th>
                <th>Poder</th>
                <th>Estado</th>
                <th>Talle</th>
                <th>Precio</th>
                <th>Condición</th>
                <th>Adquirido</th>
                <th colspan="2">Notas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.BDCs)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.InternNumber</td>
                    <td>@m.Brand</td>
                    <td>@m.Model</td>
                    <td>@m.Valves</td>
                    <td>@m.Power</td>
                    <td>@await Model.GetSizeName(m.SizeId)</td>
                    <td>@await Model.GetStateName(m.StateId)</td>
                    <td>@m.Price</td>
                    <td>@m.Condition</td>
                    <td>@m.Acquired</td>
                    <td colspan="2">@m.Notes</td>
                    <td><a asp-page="..\EditProdcuts\EditProducts" asp-route-id="@m.Id" class="btn btn-rate">Editar</a></td>
                </tr>
            }
        </tbody>
    </table>


}
